*
{
  box-sizing: border-box;
}

html,
body
{
  width: 100%;
  height: 100%;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;

  margin: 0;
  padding: 0;
}

div.GuitarNeck
{
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 300px;

  margin-top: -150px;

  background-color: #EED195;
}

div.GuitarNeck div.string1 { top: 14%; }
div.GuitarNeck div.string2 { top: 28%; }
div.GuitarNeck div.string3 { top: 43%; }
div.GuitarNeck div.string4 { top: 57%; }
div.GuitarNeck div.string5 { top: 71%; }
div.GuitarNeck div.string6 { top: 85%; }

div.String
{
  position: absolute;
  overflow: visible;

  width: 100%;
  height: 3px;

  padding: 0 20px;

  text-align: center;

  background-color: #888;

  border-top: 1px solid #CCC;
  border-bottom: 1px solid #666;

  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .4);
}

div.String.active
{
  height: 4px;

  background-color: #F00;

  border-top-color: #FCC;
  border-bottom-color: #A00;
}

span.Note
{
  position: relative;
  top: -.4em;

  padding: .4em;

  font-size: 2.7em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  color: #FFF;
  text-shadow: 0 1px 0 #000;

  background-color: #F00;

  border: 1px solid #833;

  box-shadow: 0 1px 1px 0 #833;

  border-radius: 12px;
}
